{% extends "admin.html" %}
{% block greeting %}{% endblock %}

{% block content %}
<head>
<style>

  a{
    text-decoration: none;
    color: white;
      }
  a:hover {
    color: white;
  }
</style>
</head>
<body>
  <br>
  {% if error_msg %}
  <div class="alert alert-danger">{{ error_msg }}</div>
  {% endif %}
<div class="container">
  <form action="{{ url_for('admin.search') }}" method="POST"  class="form-inline" >
      <div class="row g-3">
      <select aria-labelledby="navbarDropdown" name="searchtype" id="searchtype"  class="form-select">
        <option class="dropdown-item" value="name">Name</option>
        <option class="dropdown-item" value="memberid">MemberID</option>
      </select>
        <div class="col-md-6">
          <input class="form-control" placeholder="Enter name / ID here" name="search" type="search"  required>
        </div>
        <div class="col-md-2">
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </div>
      </div>
  </form>
</div>

<!-- return memberlist -->
<!-- column_names is the column -->
<br>
<div class="container">
  <table class="table table-hover table-striped table-bordered text-center">
    
    <tr>
      <th>Member id</th>
      <th class="col-2">Name</th>
      <th class="col-2">Date of birth</th>
      <th class="col-2">Address</th>
      <th>Email</th>
      <th class="col-2">Phone</th>
      <th>Subscription Status</th>
      <th>Health condition</th>
      <th>Edit</th>
      <th>Subscription</th>
      <th>Cancelled</th>
      
    </tr>
      
    {% for item in memberlist %}
    {% set firstname = item[1] %}
    {% set lastname = item[2] %}
    {% set name = firstname +' ' + lastname %}
    <tr>
      
      <td>{{item[0]}}</td>
      <td>{{name}}</td>
      <td>{{item[3]}}</td>
      <td>{{item[4]}}</td>
      <td>{{item[5]}}</td>
      <td>{{item[6]}}</td>
      <td>{{item[7]}}</td>
      <td>{{item[8]}}</td>
      
      <td> <!-- add a new column for the edit button -->
        <button type="submit"  class="btn btn-success btn-sm"><a href="{{ url_for('admin.edit', memberid=item[0]) }}">Edit</a></button>
      </td>
      {% if item[7] == 'active' %}
      <td> </td>
      {% else %}
      <td>
        <button  class="btn btn-warning btn-sm"><a href="{{ url_for('admin.sub', memberid=item[0]) }}">Activate</a></button>
      </td>
      {% endif %}
   
      {% if item[7] == 'active' %}
      <td> <!-- add a new column for the edit button -->
        <button class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to unsubscribe?');"><a href="{{ url_for('admin.unsub', memberid=item[0]) }}">Inactivate</a></button>
      </td>
      {% else %}
      <td> </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
</div>  
</body>
  {% endblock %}

 