{% extends "member.html" %}
{% block greeting %}{% endblock %}

{% block content %}
<head>
    <style>
        h2{
            text-align: center;
        }
    </style>
   
</head>
<body>
    <br>
    <h2>Payment successful</h2>
    <table class="table table-hover">
        <tr>
            <th>Member ID</th>
            <th>Date</th>
            <th>Payment Amount</th>
            <th>Payment Status</th>
            <th>Subscription Status</th>
            <th>Subscription due date</th>

        </tr>
        
        <tr>
            <td>{{paybill[0]}}</td>
            <td>{{paybill[1]}}</td>
            <td>{{paybill[2]}}</td>
            <td>{{paybill[3]}}</td>
            <td>{{paybill[4]}}</td>
            <td>{{paybill[5]}}</td>

            


        </tr>
    </table>
    <div class="d-grid gap-2 col-1 mx-auto">
    <button class="btn btn-outline-primary"><a href="{{ url_for('member.index') }}">Next</a></button>
    </div>

</body>
{% endblock %}